<button mat-icon-button [matMenuTriggerFor]="messagesMenu"   (click)="openMessagesMenu()">
    <mat-icon [matBadge]="lengthNotif" matBadgeColor="warn">notifications</mat-icon>
</button>
<mat-menu #messagesMenu="matMenu" [overlapTrigger]="false" class="toolbar-dropdown-menu messages">
    <!-- <span (mouseleave)="onMouseLeave()"> -->
        <mat-tab-group (click)="stopClickPropagate($event)" [selectedIndex]="selectedTab">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>chat</mat-icon>
                </ng-template>
                <mat-card class="content" perfectScrollbar>
                  <div fxLayout="column" fxLayoutAlign="none">
                      <button mat-button *ngFor="let message of notifMesg" (click) = "notifSeen(message)">
                            <img *ngIf = "message.userOwner.profile.image" src="{{message.userOwner.profile.image}}" width="50">   
                            <img *ngIf = "!message.userOwner.profile.image" src="assets/img/users/default-user.jpg" width="50">   
                            <div fxLayout="column" fxLayoutAlign="none" class="w-100">
                                <div fxLayout="row" fxLayoutAlign="space-between start">
                                    <span class="name">{{message.userOwner.profile.name}} {{message.userOwner.profile.surname}}</span>
                                    <span class="info"><mat-icon>access_time</mat-icon> {{message.createdAt |  date:'short'}}</span>
                                </div>
                                <span class="text secondary-text-color">{{message.text}}</span>
                            </div>
                      </button>
                    </div>
                </mat-card>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>description</mat-icon>
                </ng-template>
                <mat-card class="content" perfectScrollbar>
                  <div fxLayout="column" fxLayoutAlign="none">
                    <button mat-button *ngFor="let message of notifOthers" (click) = "notifSeen(message)">
                        <img *ngIf = "message.userOwner.profile.image" src="{{message.userOwner.profile.image}}" width="50">   
                        <img *ngIf = "!message.userOwner.profile.image" src="assets/img/users/default-user.jpg" width="50">   
                        <div fxLayout="column" fxLayoutAlign="none" class="w-100">
                            <div fxLayout="row" fxLayoutAlign="space-between start">
                                <span class="name">{{message.userOwner.profile.name}} {{message.userOwner.profile.surname}}</span>
                                <span class="info"><mat-icon>access_time</mat-icon> {{message.createdAt |  date:'short'}}</span>
                            </div>
                            <span class="text secondary-text-color">{{message.text}}</span>
                        </div>
                  </button>
                    </div>             
                </mat-card>
            </mat-tab>
            <!-- <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>event</mat-icon>
                </ng-template>
                <mat-card class="content" perfectScrollbar>
                  <div fxLayout="column" fxLayoutAlign="none">
                      <button mat-button *ngFor="let meeting of meetings">  
                          <div fxLayout="column" fxLayoutAlign="center center" class="row-1" [ngClass]="meeting.bgColor">
                              <span class="name">{{meeting.day}}</span>
                              <span class="name">{{meeting.month}}</span>
                          </div>
                          <div fxLayout="column" fxLayoutAlign="none">
                              <span class="name">{{meeting.title}}</span>
                              <span class="text secondary-text-color">{{meeting.text}}</span>
                          </div>
                      </button>
                    </div>             
                </mat-card>
            </mat-tab> -->
        </mat-tab-group>
    <!--</span>-->
</mat-menu>