<app-content-header [icon]="'sort'" [title]="'Liste Des SmS'" [hideBreadcrumb]="false" [hasBgImage]="true"
    [class]="'pb-4'"></app-content-header>

<div fxLayout="column" class="p-2">

    <div class="p-2">
        <mat-table #table [dataSource]="data" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="SendTo">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Send To </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.smsOwner.profile.name}}{{element.smsOwner.profile.surname}} </mat-cell>

            </ng-container>


            <ng-container matColumnDef="requestDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Request Date </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.createdAt | date: 'dd/MM/yyyy'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="phone">
                <mat-header-cell *matHeaderCellDef mat-sort-header> phone</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.contacts.phone}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="message">
                <mat-header-cell *matHeaderCellDef mat-sort-header> message </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.contacts.message}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Action</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-mini-fab color="primary" class="m-1 " *ngIf="element.status!== 'envoyé'"
                        (click)="validerDemande(element)">
                        <span class="material-icons">
                            offline_pin
                        </span>
                    </button>
                    <button mat-mini-fab color="warn" class="m-1 " (click)="deleteDemande(element)">
                        <span class="material-icons">
                            delete_sweep
                        </span>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row;columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
    <!-- <h1>Actionnaire</h1>
    <div class="p-2">
        <mat-table #table1 [dataSource]="data1" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="SendTo">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Send To </mat-header-cell>
                <mat-cell *matCellDef="let elementssss"> {{elementssss.acts.profile.name}}{{elementssss.acts.profile.surname}}
                </mat-cell>

            </ng-container>


            <ng-container matColumnDef="requestDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Request Date </mat-header-cell>
                <mat-cell *matCellDef="let elementssss">{{elementssss.createdAt | date: 'dd/MM/yyyy'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="phone">
                <mat-header-cell *matHeaderCellDef mat-sort-header> phone</mat-header-cell>
                <mat-cell *matCellDef="let elementssss"> {{elementssss.contacts.phone}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="message">
                <mat-header-cell *matHeaderCellDef mat-sort-header> message </mat-header-cell>
                <mat-cell *matCellDef="let elementssss"> {{elementssss.contacts.message}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                <mat-cell *matCellDef="let elementssss"> {{elementssss.status}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Action</mat-header-cell>
                <mat-cell *matCellDef="let elementssss">
                    <button mat-mini-fab color="primary" class="m-1 " *ngIf="elementssss.status!== 'envoyé'"
                        (click)="validerDemande(elementssss)">
                        <span class="material-icons">
                            offline_pin
                        </span>
                    </button>
                    <button mat-mini-fab color="warn" class="m-1 " (click)="deleteDemande(elementssss)">
                        <span class="material-icons">
                            delete_sweep
                        </span>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
            <mat-row *matRowDef="let row;columns: displayedColumns1;"></mat-row>
        </mat-table>
    </div>
    <h1>doctors</h1>
    <div class="p-2">
        <mat-table #table2 [dataSource]="data2" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="SendTo">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Send To </mat-header-cell>
                <mat-cell *matCellDef="let elementss"> {{elementss.docs.profile.name}}{{elementss.docs.profile.surname}}
                </mat-cell>

            </ng-container>


            <ng-container matColumnDef="requestDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Request Date </mat-header-cell>
                <mat-cell *matCellDef="let elementss">{{elementss.createdAt | date: 'dd/MM/yyyy'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="phone">
                <mat-header-cell *matHeaderCellDef mat-sort-header> phone</mat-header-cell>
                <mat-cell *matCellDef="let elementss"> {{elementss.contacts.phone}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="message">
                <mat-header-cell *matHeaderCellDef mat-sort-header> message </mat-header-cell>
                <mat-cell *matCellDef="let elementss"> {{elementss.contacts.message}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                <mat-cell *matCellDef="let elementss"> {{elementss.status}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Action</mat-header-cell>
                <mat-cell *matCellDef="let elementss">
                    <button mat-mini-fab color="primary" class="m-1 " *ngIf="elementss.status!== 'envoyé'"
                        (click)="validerDemande(elementss)">
                        <span class="material-icons">
                            offline_pin
                        </span>
                    </button>
                    <button mat-mini-fab color="warn" class="m-1 " (click)="deleteDemande(elementss)">
                        <span class="material-icons">
                            delete_sweep
                        </span>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
            <mat-row *matRowDef="let row;columns: displayedColumns2;"></mat-row>
        </mat-table>
    </div>
    <h1>automatique</h1>
    <div class="p-2">
        <mat-table #table3 [dataSource]="data3" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="SendTo">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Send To </mat-header-cell>
                <mat-cell *matCellDef="let elementsss">
                    {{elementsss.userOwner.profile.name}}{{elementsss.userOwner.profile.surname}} </mat-cell>

            </ng-container>


            <ng-container matColumnDef="requestDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Request Date </mat-header-cell>
                <mat-cell *matCellDef="let elementsss">{{elementsss.createdAt | date: 'dd/MM/yyyy'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="phone">
                <mat-header-cell *matHeaderCellDef mat-sort-header> phone</mat-header-cell>
                <mat-cell *matCellDef="let elementsss"> {{elementsss.contacts.phone}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="message">
                <mat-header-cell *matHeaderCellDef mat-sort-header> message </mat-header-cell>
                <mat-cell *matCellDef="let elementsss"> {{elementsss.contacts.message}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                <mat-cell *matCellDef="let elementsss"> {{elementsss.status}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Action</mat-header-cell>
                <mat-cell *matCellDef="let elementss">
                    <button mat-mini-fab color="primary" class="m-1 " *ngIf="elementsss.status!== 'envoyé'"
                        (click)="validerDemande(elementsss)">
                        <span class="material-icons">
                            offline_pin
                        </span>
                    </button>
                    <button mat-mini-fab color="warn" class="m-1 " (click)="deleteDemande(elementsss)">
                        <span class="material-icons">
                            delete_sweep
                        </span>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
            <mat-row *matRowDef="let row;columns: displayedColumns2;"></mat-row>
        </mat-table>
    </div> -->
</div>