<app-content-header 
    [icon]="'sort'" 
    [title]="'Sorting'" 
    [hideBreadcrumb]="false"
    [hasBgImage]="true" 
    [class]="'pb-4'"></app-content-header>

<div fxLayout="column" class="p-2">
    <div class="p-2"> 
        <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8">    
            <!-- <ng-container matColumnDef="user">
                <mat-header-cell *matHeaderCellDef> User Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.userOwner}} {{element.userOwner}} </mat-cell>
            </ng-container>             -->
            <ng-container matColumnDef="requestDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Request Date </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.createdAt | date: 'dd/MM/yyyy'}} </mat-cell>
            </ng-container>    
            <ng-container matColumnDef="updatedDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Updated Date </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.updatedAt | date: 'dd/MM/yyyy'}} </mat-cell>
            </ng-container>       
            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef mat-sort-header> title </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
            </ng-container>     
            <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef mat-sort-header> description </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
            </ng-container>        
            <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-mini-fab  color="primary" class="m-1 " (click) = "confirmRequest(element)">
                        <span class="material-icons">
                            offline_pin
                            </span>
                    </button>
                    <button mat-mini-fab  color="warn" class="m-1 " (click) = "openDialog(element)">
                        <span class="material-icons">
                            delete_sweep
                            </span>
                    </button>
                </mat-cell>
            </ng-container>
 
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</div>