<button mat-icon-button [matMenuTriggerFor]="userMenu" #userMenuTrigger="matMenuTrigger" >
    <mat-icon>account_circle</mat-icon>
</button>

<mat-menu #userMenu="matMenu" [overlapTrigger]="false" class="toolbar-dropdown-menu user-menu">
    <!--<span (mouseleave)="userMenuTrigger.closeMenu()">-->        
        <mat-card fxLayout="row" fxLayoutAlign="space-around center" class="user-info p-0">
            <img [src]="data.profile.image"  alt="user-image">
            <div fxLayout="column" fxLayoutAlign="center center">
                <h2>{{data.profile.name}} {{data.profile.surname}}</h2>
                <h3 class="secondary-text-color">{{data.work.company}}</h3>
                <p class="secondary-text-color">Membre a partir {{data.createdAt | date: 'dd/MM/yyyy'}}</p>
            </div>
        </mat-card>  
      
        <a mat-menu-item routerLink="/profile/user-info"> 
            <mat-icon>account_circle</mat-icon>
            <span>Profile</span> 
        </a>
        <mat-divider></mat-divider>
        <a mat-menu-item routerLink="/login" (click)="logout()"> 
            <mat-icon>power_settings_new</mat-icon>
            <span>Log out</span> 
        </a>
</mat-menu>