<div fxLayout="row wrap" *ngIf="(role === 'admin' || role === 'Pdg' || role === 'Responsable-info' || role === 'cassier-principale')">
    <div fxFlex="50" fxFlex.xl="16.6" fxFlex.lg="16.6" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-2">        
        <mat-card class="gradient-green tile p-2"> 
            <mat-icon>supervisor_account</mat-icon> 
            <h2>{{lengthDoc}}</h2>         
            <p>doctors</p>            
        </mat-card>
    </div>

    <div fxFlex="50" fxFlex.xl="16.6" fxFlex.lg="16.6" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-2">
        <mat-card class="gradient-orange tile p-2">
            <mat-icon>group</mat-icon> 
            <h2>{{lengthUsers}}</h2>         
            <p>users</p> 
        </mat-card>
    </div>

  <div fxFlex="50" fxFlex.xl="16.6" fxFlex.lg="16.6" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-2">
        <mat-card class="gradient-gray tile p-2">
            <mat-icon>pie_chart</mat-icon> 
            <h2>{{lengthAct}}</h2>         
            <p>shareholders</p> 
        </mat-card>
    </div>  
      <div fxFlex="50" fxFlex.xl="16.6" fxFlex.lg="16.6" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-2">
        <mat-card class="gradient-brown tile p-2">
            <mat-icon>emoji_people  </mat-icon> 
            <h2>{{lengthPatients}}</h2>         
            <p>patients</p> 
        </mat-card>
    </div>   
    <div fxFlex="50" fxFlex.xl="16.6" fxFlex.lg="16.6" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-2">
        <mat-card class="gradient-pink tile p-2">
            <mat-icon>room_preferences</mat-icon> 
            <h2>{{lengthMaints}}</h2>         
            <p>open maitenances </p> 
        </mat-card>
    </div>   
    <div fxFlex="50" fxFlex.xl="16.6" fxFlex.lg="16.6" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-2">        
        <mat-card class="gradient-red tile p-2"> 
            <mat-icon>exit_to_app</mat-icon> 
            <h2>{{lengthconges}}</h2>         
            <p>vacations requests</p>            
        </mat-card>
    </div>
</div>