<app-content-header [icon]="'today'" [title]="'Holidays request'" [hideBreadcrumb]="false" [hasBgImage]="true"
    [class]="'pb-4'"></app-content-header>

<form [formGroup]="form">
    <div fxLayout="column" fxLayout.gt-sm="row wrap" class="p-2">

        <div fxFlex="50" class="p-2">
            <mat-card>
                <mat-card-header fxLayoutAlign="center">
                    <mat-card-subtitle>
                        <h2> Start date </h2>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content fxLayoutAlign="center">
                    <div>
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker1" placeholder="Choose a date"
                                formControlName="dateDebut">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                            <mat-error *ngIf="form.controls.dateDebut.errors?.required"> Start date is required
                            </mat-error>
                        </mat-form-field>
                        <mat-error *ngIf="validated"> please verify the dates </mat-error>
                    </div>


                    <!-- <div style="display: none;"  id ="validated" >
                        <mat-error  *ngIf="validated"> should be before the end date</mat-error>
                    </div> -->
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="50" class="p-2">
            <mat-card>
                <mat-card-header fxLayoutAlign="center">
                    <mat-card-subtitle>
                        <h2>End date</h2>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content fxLayoutAlign="center">
                  <div>
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker2" placeholder="Choose a date" formControlName="dateFin">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                        <mat-error *ngIf="form.controls.dateFin.errors?.required"> End date is required</mat-error>
                    </mat-form-field>
                    <mat-error *ngIf="validated">please verify the dates</mat-error>
                  </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="50" class="p-2">
            <mat-card>
                <mat-card-header>
                    <mat-card-subtitle>
                        <h2>select your reason for absence</h2>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field class="mx-2">
                        <input matInput placeholder="e.g : vacation days" formControlName="motif">

                        <!-- <mat-select placeholder="e.g : Holidays" formControlName="motif">
                            <mat-option *ngFor="let holiday of holidays" [value]="holiday.value">
                                {{holiday.viewValue}}
                            </mat-option>
                        </mat-select> -->
                        <mat-error *ngIf="form.controls.motif.errors?.required"> holidays reason is required</mat-error>
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="50" class="p-2">
            <mat-card>
                <mat-card-header fxLayoutAlign="center">
                    <mat-card-subtitle>
                        <h2></h2>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content fxLayoutAlign=" center center">
                    <div>
                        <mat-card-subtitle>
                            <h2>for your information :</h2>
                        </mat-card-subtitle>
                        <p>your leave balance is : {{soldeConge}} </p>
                        <p>to send vacation request : start date should be after 3 days from now </p>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

</form>
<div fxLayoutAlign="center" >
    <button mat-flat-button color="warn" class="m-1 " (click)="onFormSubmit()"
    [disabled]="!form.valid">send your request</button>
</div>

