<h1 mat-dialog-title><span *ngIf="!patient._id">Add</span><span *ngIf="patient._id">Edit</span> patient</h1>
<div mat-dialog-content>
    <form [formGroup]="form" class="user-form">      
        <mat-tab-group class="vertical-tabs">
            <mat-tab label="Basic">
                <div fxLayout="column" class="form-field-outer">
                    <mat-form-field class="w-100">
                        <mat-placeholder><mat-icon>person</mat-icon> CIN</mat-placeholder>
                        <input matInput formControlName="cin" required>
                        <mat-error *ngIf="form.controls.cin.errors?.required">CIN is required</mat-error>
                        <mat-error *ngIf="form.controls.cin.hasError('minlength')">CIN isn't long enough, minimum of 8 characters</mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <input matInput [matDatepicker]="dateDentre" placeholder="dateDentre" formControlName="dateDentre">
                        <mat-datepicker-toggle matSuffix [for]="dateDentre"></mat-datepicker-toggle>
                        <mat-datepicker #dateDentre></mat-datepicker>
                    </mat-form-field>
                    
                        <mat-form-field class="w-100">
                            <mat-select placeholder="service" formControlName="service">
                                <mat-option value="maternité">
                                 maternité
                                </mat-option>
                                <mat-option value="chirurgie">
                                    chirurgie
                                   </mat-option>
                                   <mat-option value="bloc">
                                    bloc
                                   </mat-option>
                                   <mat-option value="covid">
                                   covid
                                   </mat-option>
                            </mat-select>
                        </mat-form-field >
                        <mat-form-field class="w-100">
                        <input matInput placeholder="description" formControlName="description">
                    </mat-form-field>

                </div>
            </mat-tab>
            <mat-tab label="Personal" formGroupName="profile">
                <div fxLayout="column" class="form-field-outer">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Name" formControlName="name">
                        <!-- <mat-error *ngIf="form.profile.name.errors?.required">name is required</mat-error> -->
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Surname" formControlName="surname">
                        <!-- <mat-error *ngIf="form.profile.surname.errors?.required">surname is required</mat-error> -->

                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <input matInput [matDatepicker]="birthday" placeholder="Birthday" formControlName="birthday">
                        <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
                        <mat-datepicker #birthday></mat-datepicker>
                    </mat-form-field>
                   
                </div>
            </mat-tab>
            <mat-tab label="Work" formGroupName="work">
                <div fxLayout="column" class="form-field-outer">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Position" formControlName="position">
                    </mat-form-field>
                </div>
            </mat-tab>
            <mat-tab label="Contacts" formGroupName="contacts">
                <div fxLayout="column" class="form-field-outer">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Email" formControlName="email">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Phone" formControlName="phone">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Address" formControlName="address">
                    </mat-form-field>
                </div>
            </mat-tab>
            <mat-tab label="Settings" formGroupName="settings">
                <div fxLayout="column" class="form-field-outer">
                    <!-- <mat-checkbox formControlName="isActive" class="pb-3">Active</mat-checkbox>
                    <mat-checkbox formControlName="isDeleted" class="pb-3">Blocked</mat-checkbox>
                    <p *ngIf="user._id" class="pb-3"><span>Registration date:</span> <i class="mx-1">{{user.settings.registrationDate | date:"dd MMMM, yyyy 'at' HH:mm" }}</i></p> 
                    <p *ngIf="user._id" class="pb-3"><span>Last joined date:</span> <i class="mx-1">{{user.settings.joinedDate | date:"dd MMMM, yyyy 'at' HH:mm" }}</i> </p>      -->
                    <mat-form-field>
                        <mat-select placeholder="Choose bg color" formControlName="bgColor" name="bgColor">
                            <mat-option *ngFor="let color of colors" [value]="color.value">
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <div class="p-2" [ngClass]="color.value"></div>
                                    <span class="mx-3">{{color.viewValue}}</span> 
                                </div>                               
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-tab>
        </mat-tab-group>
    </form>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-raised-button color="primary" [mat-dialog-close]="form.value" [disabled]="!form.valid"><span *ngIf="!patient._id" (click)="openSnackBarAdd()">Save</span><span *ngIf="patient._id" (click)="openSnackBarUpdate()">Update</span></button>
    <button mat-raised-button color="warn" (click)="close()">Cancel</button>
</div>